@model MVCGP.Models.Semanas

@{
    ViewData["Title"] = "Detalles";
}


<div>
    <h4>Semanas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeySemana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeySemana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plazoss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plazoss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TasaP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TasaP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TasaN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TasaN)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn-warning">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
